body {
    background-color: lightblue;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
}

.logo {
    height: 50px;
}

.line {
    width: 100%;
    border-top: 3px solid navy;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.links a {
    margin: 0 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.links a:visited {
    font-weight: bold;
    font-size: 22px;
}

.name {
    font-family: 'Brush Script MT', cursive;
    font-size: 72px;
    margin: 20px 0;
    color: white;
}

.gallery {
    display: flex;
    justify-content: space-between;
}

.image {
    width: 30%;
    height: auto;
    background-color: black;
    margin: 0 1%;
    border: 3px solid black;
}
